<h2>Create a New Status</h2>
<hr>

<div class="well col-xs-6 col-xs-offset-3">

  <%= render 'shared/errors', obj: @status %>

  <%= form_for @status do |f| %>
    <div class="control-group">
      <%= f.label :body %>
      <%= f.text_area :body, class: "form-control", rows: '10' %>
    </div>
    <br/>
    <%= f.submit "Create Status", class: 'btn btn-primary' %>
  <% end %>
</div>
